<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main-page.component.css">
  <title>Agro Assist</title>
</head>
<body>
  <header>
    <div class="logo">
      <h1>GATEWAY TO<br>YOUR AGRICULTURAL EXCELLENCY</h1>
      <h2>AGRO ASSIST</h2>
    </div>
    <nav>
      <ul>
       
        <li><a routerLink="/get-assistant">GET ASSISTANT</a></li>
        <li><a routerLink="/page2">SIGN IN</a></li>
        <li><a routerLink="/page3">SIGN UP</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="home">
      <div class="home-container">
        <h3>Empowering Farmers with Smart Solutions.</h3>
       <p>Your trusted digital farming companion, providing personalized advice and solutions for every step of your agricultural journey. 
        <br>Harnessing technology to streamline farming practices and maximize yield potential.
      </p>
      </div>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2024 Agro Assist.</p>
  </footer>
</body>
</html>